<a href="https://colab.research.google.com/github/zangatec/Equipo_Ciencia_de_datos/blob/main/Entrega%201%20reto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Maestría en Inteligencia Artificial Aplicada

Curso: Ciencia y Analítica de Datos

Tecnológico de Monterrey

Dra. María de la Paz Rico Fernández

Reto-> Entrega 1 (16/11) -> Limpieza, análisis, visualización y kmeans

Pedro Ulises Meléndez Ortega

00716301

Jose Francisco Miranda Garcia
00837306

Limpieza, análisis, visualización y agrupamiento.
En esta base de datos encontraras:

Aguas subterraneas.
Aguas superficiales.
Elige una base de datos, ya sea la de aguas superficiales o la de aguas subterraneas.

Limpieza de base de datos.
 Explorar  cada datos (auxiliate de describe(), mean(), plot, boxplot de pandas):
Identificando tendencias centrales promedio, media y mediana de los datos. 
Identificar medidas de dispersión, máximo, mínimo .
Identificar medidas de posición no centrales , los cuartiles , outliers.   
Identificar correlaciones.
Preparar los datos 
Realizar análisis para encontrar si existe una relación entre la calidad del agua y su ubicación geográfica a través de K- means.
Mostrar resultados de agrupamiento de latitudes y longitudes con K means en el mapa de México.

In [1]:
import pandas as pd
import numpy as np
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import os
import math #Esta libreria la usamos lara el ramsey y el Mape
import matplotlib.pyplot as plt
import requests, zipfile #Librerira para zip de nuestros origen de datos
from io import BytesIO

from imblearn.metrics import geometric_mean_score, classification_report_imbalanced
from google.colab import drive

from sklearn.model_selection import learning_curve, validation_curve
from sklearn.preprocessing import QuantileTransformer #Esta libreria la usamos al graficar datos
from sklearn.preprocessing import power_transform #esta igual
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split #Para hacer las particiones
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score         
from sklearn.metrics import classification_report, make_scorer
from sklearn.model_selection import  cross_validate,  RepeatedStratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, StandardScaler
from sklearn.preprocessing import FunctionTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier #Esta tambien la usamoie en el ejercicio 5e
from sklearn import svm, datasets
from sklearn.model_selection import GridSearchCV
from sklearn import tree
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.compose import TransformedTargetRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RepeatedKFold

In [2]:
#Obtención de la data 

#Opcion 1, carga directa (pero a veces marca time out)

Liga = 'http://201.116.60.46/Datos_de_calidad_del_agua_de_5000_sitios_de_monitoreo.zip'
req = requests.get(Liga)
zipfile.ZipFile(BytesIO(req.content)).extractall('unzipped_zip/')
dfraw=pd.read_csv('unzipped_zip/Datos_de_calidad_del_agua_2020/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_subterraneas_2020.csv', encoding = 'latin1')
dfraw

#Opcion 2, carga previa del archivo en colab

#local = "/content/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_subterraneas_2020.csv"
#dfraw = pd.read_csv(local, delimiter=",", encoding="latin1", index_col = 0)
#dfraw.index.name = None
#dfraw

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,ACUIFERO,SUBTIPO,LONGITUD,LATITUD,PERIODO,...,CUMPLE_CON_DUR,CUMPLE_CON_CF,CUMPLE_CON_NO3,CUMPLE_CON_AS,CUMPLE_CON_CD,CUMPLE_CON_CR,CUMPLE_CON_HG,CUMPLE_CON_PB,CUMPLE_CON_MN,CUMPLE_CON_FE
0,DLAGU6,POZO SAN GIL,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,ASIENTOS,VALLE DE CHICALOTE,POZO,-102.02210,22.20887,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
1,DLAGU6516,POZO R013 CAÑADA HONDA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,AGUASCALIENTES,VALLE DE CHICALOTE,POZO,-102.20075,21.99958,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
2,DLAGU7,POZO COSIO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,COSIO,VALLE DE AGUASCALIENTES,POZO,-102.28801,22.36685,2020,...,SI,SI,SI,NO,SI,SI,SI,SI,SI,SI
3,DLAGU9,POZO EL SALITRILLO,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,VALLE DE AGUASCALIENTES,POZO,-102.29449,22.18435,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
4,DLBAJ107,RANCHO EL TECOLOTE,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LA PAZ,TODOS SANTOS,POZO,-110.24480,23.45138,2020,...,SI,SI,NO,SI,SI,SI,SI,SI,SI,SI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1063,OCRBR5101M1,L-310 (COMUNIDAD SAN MANUEL),RIO BRAVO,NUEVO LEON,LINARES,CITRICOLA SUR,POZO,-99.54191,24.76036,2020,...,NO,SI,NO,SI,SI,SI,SI,SI,SI,SI
1064,OCRBR5102M1,L-305 (EJIDO OJO DE AGUA LAS CRUCESITAS),RIO BRAVO,NUEVO LEON,LINARES,CITRICOLA SUR,POZO,-99.70099,24.78280,2020,...,SI,SI,NO,SI,SI,SI,SI,SI,SI,SI
1065,OCRBR5105M2,HACIENDA MEXIQUITO POZO 01,RIO BRAVO,NUEVO LEON,CADEREYTA JIMENEZ,CITRICOLA NORTE,POZO,-99.82249,25.55197,2020,...,NO,SI,NO,SI,SI,SI,SI,SI,SI,SI
1066,OCRBR5106M1,COMUNIDAD LOS POCITOS,RIO BRAVO,NUEVO LEON,GALEANA,NAVIDAD-POTOSI-RAICES,POZO,-100.32683,24.80118,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI
1067,OCRBR5109M1,COMUNIDAD LA REFORMA,RIO BRAVO,NUEVO LEON,GALEANA,NAVIDAD-POTOSI-RAICES,POZO,-100.73302,25.09380,2020,...,SI,SI,SI,SI,SI,SI,SI,SI,SI,SI

In [3]:
#Exploración de la data
df = dfraw
df.describe()

          LONGITUD      LATITUD  PERIODO     ALC_mg/L  CONDUCT_mS/cm  SDT_mg/L
count  1068.000000  1068.000000   1068.0  1064.000000    1062.000000       0.0
mean   -101.891007    23.163618   2020.0   235.633759    1138.953013       NaN
std       6.703263     3.887670      0.0   116.874291    1245.563674       NaN
min    -116.664250    14.561150   2020.0    26.640000      50.400000       NaN
25%    -105.388865    20.212055   2020.0   164.000000     501.750000       NaN
50%    -102.174180    22.617190   2020.0   215.527500     815.000000       NaN
75%     -98.974716    25.510285   2020.0   292.710000    1322.750000       NaN
max     -86.864120    32.677713   2020.0  1650.000000   18577.000000       NaN

In [4]:
#Observamos al inicio solo 6 variables numericas, de las cuales, 2 de ellas son de geolocalización, por lo que oslo hay 4 variables numericas en el set de datos original 
#Las demás son variables tipo string u objeto que deberemos que cambiar ya sea por bins, boolean u otra forma
df.dtypes

CLAVE                    object
SITIO                    object
ORGANISMO_DE_CUENCA      object
ESTADO                   object
MUNICIPIO                object
ACUIFERO                 object
SUBTIPO                  object
LONGITUD                float64
LATITUD                 float64
PERIODO                   int64
ALC_mg/L                float64
CALIDAD_ALC              object
CONDUCT_mS/cm           float64
CALIDAD_CONDUC           object
SDT_mg/L                float64
SDT_M_mg/L               object
CALIDAD_SDT_ra           object
CALIDAD_SDT_salin        object
FLUORUROS_mg/L           object
CALIDAD_FLUO             object
DUR_mg/L                 object
CALIDAD_DUR              object
COLI_FEC_NMP/100_mL      object
CALIDAD_COLI_FEC         object
N_NO3_mg/L               object
CALIDAD_N_NO3            object
AS_TOT_mg/L              object
CALIDAD_AS               object
CD_TOT_mg/L              object
CALIDAD_CD               object
CR_TOT_mg/L              object
CALIDAD_CR               object
HG_TOT_mg/L              object
CALIDAD_HG               object
PB_TOT_mg/L              object
CALIDAD_PB               object
MN_TOT_mg/L              object
CALIDAD_MN               object
FE_TOT_mg/L              object
CALIDAD_FE               object
SEMAFORO                 object
CONTAMINANTES            object
CUMPLE_CON_ALC           object
CUMPLE_CON_COND          object
CUMPLE_CON_SDT_ra        object
CUMPLE_CON_SDT_salin     object
CUMPLE_CON_FLUO          object
CUMPLE_CON_DUR           object
CUMPLE_CON_CF            object
CUMPLE_CON_NO3           object
CUMPLE_CON_AS            object
CUMPLE_CON_CD            object
CUMPLE_CON_CR            object
CUMPLE_CON_HG            object
CUMPLE_CON_PB            object
CUMPLE_CON_MN            object
CUMPLE_CON_FE            object
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 57 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1064 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1062 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_mg/L              0 non-null      float64
 15  SDT_M_mg/L            1066 non-null   object
 16  CALIDAD_SDT_ra        1066 non-null   object
 17  CALIDAD_SDT_salin     1066 non-null   object
 18  FLUORUROS_mg/L        1068 non-null   object
 19  CALIDAD_FLUO          1068 non-null   object
 20  DUR_mg/L              1067 non-null   object
 21  CALIDAD_DUR           1067 non-null   object
 22  COLI_FEC_NMP/100_mL   1068 non-null   object
 23  CALIDAD_COLI_FEC      1068 non-null   object
 24  N_NO3_mg/L            1067 non-null   object
 25  CALIDAD_N_NO3         1067 non-null   object
 26  AS_TOT_mg/L           1068 non-null   object
 27  CALIDAD_AS            1068 non-null   object
 28  CD_TOT_mg/L           1068 non-null   object
 29  CALIDAD_CD            1068 non-null   object
 30  CR_TOT_mg/L           1068 non-null   object
 31  CALIDAD_CR            1068 non-null   object
 32  HG_TOT_mg/L           1068 non-null   object
 33  CALIDAD_HG            1068 non-null   object
 34  PB_TOT_mg/L           1068 non-null   object
 35  CALIDAD_PB            1068 non-null   object
 36  MN_TOT_mg/L           1068 non-null   object
 37  CALIDAD_MN            1068 non-null   object
 38  FE_TOT_mg/L           1068 non-null   object
 39  CALIDAD_FE            1068 non-null   object
 40  SEMAFORO              1068 non-null   object
 41  CONTAMINANTES         634 non-null    object
 42  CUMPLE_CON_ALC        1068 non-null   object
 43  CUMPLE_CON_COND       1068 non-null   object
 44  CUMPLE_CON_SDT_ra     1068 non-null   object
 45  CUMPLE_CON_SDT_salin  1068 non-null   object
 46  CUMPLE_CON_FLUO       1068 non-null   object
 47  CUMPLE_CON_DUR        1068 non-null   object
 48  CUMPLE_CON_CF         1068 non-null   object
 49  CUMPLE_CON_NO3        1068 non-null   object
 50  CUMPLE_CON_AS         1068 non-null   object
 51  CUMPLE_CON_CD         1068 non-null   object
 52  CUMPLE_CON_CR         1068 non-null   object
 53  CUMPLE_CON_HG         1068 non-null   object
 54  CUMPLE_CON_PB         1068 non-null   object
 55  CUMPLE_CON_MN         1068 non-null   object
 56  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(5), int64(1), object(51)
memory usage: 475.7+ KB

In [6]:
df.isnull().any()

CLAVE                   False
SITIO                   False
ORGANISMO_DE_CUENCA     False
ESTADO                  False
MUNICIPIO               False
ACUIFERO                False
SUBTIPO                 False
LONGITUD                False
LATITUD                 False
PERIODO                 False
ALC_mg/L                 True
CALIDAD_ALC              True
CONDUCT_mS/cm            True
CALIDAD_CONDUC           True
SDT_mg/L                 True
SDT_M_mg/L               True
CALIDAD_SDT_ra           True
CALIDAD_SDT_salin        True
FLUORUROS_mg/L          False
CALIDAD_FLUO            False
DUR_mg/L                 True
CALIDAD_DUR              True
COLI_FEC_NMP/100_mL     False
CALIDAD_COLI_FEC        False
N_NO3_mg/L               True
CALIDAD_N_NO3            True
AS_TOT_mg/L             False
CALIDAD_AS              False
CD_TOT_mg/L             False
CALIDAD_CD              False
CR_TOT_mg/L             False
CALIDAD_CR              False
HG_TOT_mg/L             False
CALIDAD_HG              False
PB_TOT_mg/L             False
CALIDAD_PB              False
MN_TOT_mg/L             False
CALIDAD_MN              False
FE_TOT_mg/L             False
CALIDAD_FE              False
SEMAFORO                False
CONTAMINANTES            True
CUMPLE_CON_ALC          False
CUMPLE_CON_COND         False
CUMPLE_CON_SDT_ra       False
CUMPLE_CON_SDT_salin    False
CUMPLE_CON_FLUO         False
CUMPLE_CON_DUR          False
CUMPLE_CON_CF           False
CUMPLE_CON_NO3          False
CUMPLE_CON_AS           False
CUMPLE_CON_CD           False
CUMPLE_CON_CR           False
CUMPLE_CON_HG           False
CUMPLE_CON_PB           False
CUMPLE_CON_MN           False
CUMPLE_CON_FE           False
dtype: bool

In [7]:
print('Conteo de nulos en las columnas:')
print(df.isnull().sum(axis = 0))

Conteo de nulos en las columnas:
CLAVE                      0
SITIO                      0
ORGANISMO_DE_CUENCA        0
ESTADO                     0
MUNICIPIO                  0
ACUIFERO                   0
SUBTIPO                    0
LONGITUD                   0
LATITUD                    0
PERIODO                    0
ALC_mg/L                   4
CALIDAD_ALC                4
CONDUCT_mS/cm              6
CALIDAD_CONDUC             6
SDT_mg/L                1068
SDT_M_mg/L                 2
CALIDAD_SDT_ra             2
CALIDAD_SDT_salin          2
FLUORUROS_mg/L             0
CALIDAD_FLUO               0
DUR_mg/L                   1
CALIDAD_DUR                1
COLI_FEC_NMP/100_mL        0
CALIDAD_COLI_FEC           0
N_NO3_mg/L                 1
CALIDAD_N_NO3              1
AS_TOT_mg/L                0
CALIDAD_AS                 0
CD_TOT_mg/L                0
CALIDAD_CD                 0
CR_TOT_mg/L                0
CALIDAD_CR                 0
HG_TOT_mg/L                0
CALIDAD_HG                 0
PB_TOT_mg/L                0
CALIDAD_PB                 0
MN_TOT_mg/L                0
CALIDAD_MN                 0
FE_TOT_mg/L                0
CALIDAD_FE                 0
SEMAFORO                   0
CONTAMINANTES            434
CUMPLE_CON_ALC             0
CUMPLE_CON_COND            0
CUMPLE_CON_SDT_ra          0
CUMPLE_CON_SDT_salin       0
CUMPLE_CON_FLUO            0
CUMPLE_CON_DUR             0
CUMPLE_CON_CF              0
CUMPLE_CON_NO3             0
CUMPLE_CON_AS              0
CUMPLE_CON_CD              0
CUMPLE_CON_CR              0
CUMPLE_CON_HG              0
CUMPLE_CON_PB              0
CUMPLE_CON_MN              0
CUMPLE_CON_FE              0
dtype: int64

In [8]:
#De entrada vamos a descartar la variable SDT_mg/L porque practicamente esta vacía y la variable CONTAMINANTES porque solo se tiene el 60% de los datos.

df=df.drop("CONTAMINANTES", axis = "columns")
df=df.drop("SDT_mg/L", axis = "columns")

In [9]:
#Existen valores qque se catalogan como object (string) debido al caracter "<"por lo que serán sustituidos.
colmenorque= ['ALC_mg/L','CONDUCT_mS/cm','SDT_M_mg/L','FLUORUROS_mg/L','DUR_mg/L','COLI_FEC_NMP/100_mL',
                      'N_NO3_mg/L','AS_TOT_mg/L','CD_TOT_mg/L','CR_TOT_mg/L','HG_TOT_mg/L','PB_TOT_mg/L','MN_TOT_mg/L','FE_TOT_mg/L']

for name in colmenorque:
  df[name] = df[name].astype('str')
  df[name] = df[name].str.replace('<25','25') 
  df[name] = df[name].str.replace('<0.2','0.2') 
  df[name] = df[name].str.replace('<20','20') 
  df[name] = df[name].str.replace('<1.1','1.1')
  df[name] = df[name].str.replace('<0.02','0.02') 
  df[name] = df[name].str.replace('<0.01','0.01') 
  df[name] = df[name].str.replace('<0.003','0.003')
  df[name] = df[name].str.replace('<0.005','0.004') 
  df[name] = df[name].str.replace('<0.0005','0.0004') 
  df[name] = df[name].str.replace('<0.0015','0.0015') 
  df[name] = df[name].str.replace('<0.025','0.025')  
  df[name]= df[name].astype('float')

df.info()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: FutureWarning: The default value of regex will change from True to False in a future version.
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: FutureWarning: The default value of regex will change from True to False in a future version.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 55 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1064 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1062 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_M_mg/L            1066 non-null   float64
 15  CALIDAD_SDT_ra        1066 non-null   object
 16  CALIDAD_SDT_salin     1066 non-null   object
 17  FLUORUROS_mg/L        1068 non-null   float64
 18  CALIDAD_FLUO          1068 non-null   object
 19  DUR_mg/L              1067 non-null   float64
 20  CALIDAD_DUR           1067 non-null   object
 21  COLI_FEC_NMP/100_mL   1068 non-null   float64
 22  CALIDAD_COLI_FEC      1068 non-null   object
 23  N_NO3_mg/L            1067 non-null   float64
 24  CALIDAD_N_NO3         1067 non-null   object
 25  AS_TOT_mg/L           1068 non-null   float64
 26  CALIDAD_AS            1068 non-null   object
 27  CD_TOT_mg/L           1068 non-null   float64
 28  CALIDAD_CD            1068 non-null   object
 29  CR_TOT_mg/L           1068 non-null   float64
 30  CALIDAD_CR            1068 non-null   object
 31  HG_TOT_mg/L           1068 non-null   float64
 32  CALIDAD_HG            1068 non-null   object
 33  PB_TOT_mg/L           1068 non-null   float64
 34  CALIDAD_PB            1068 non-null   object
 35  MN_TOT_mg/L           1068 non-null   float64
 36  CALIDAD_MN            1068 non-null   object
 37  FE_TOT_mg/L           1068 non-null   float64
 38  CALIDAD_FE            1068 non-null   object
 39  SEMAFORO              1068 non-null   object
 40  CUMPLE_CON_ALC        1068 non-null   object
 41  CUMPLE_CON_COND       1068 non-null   object
 42  CUMPLE_CON_SDT_ra     1068 non-null   object
 43  CUMPLE_CON_SDT_salin  1068 non-null   object
 44  CUMPLE_CON_FLUO       1068 non-null   object
 45  CUMPLE_CON_DUR        1068 non-null   object
 46  CUMPLE_CON_CF         1068 non-null   object
 47  CUMPLE_CON_NO3        1068 non-null   object
 48  CUMPLE_CON_AS         1068 non-null   object
 49  CUMPLE_CON_CD         1068 non-null   object
 50  CUMPLE_CON_CR         1068 non-null   object
 51  CUMPLE_CON_HG         1068 non-null   object
 52  CUMPLE_CON_PB         1068 non-null   object
 53  CUMPLE_CON_MN         1068 non-null   object
 54  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(16), int64(1), object(38)
memory usage: 459.0+ KB

In [10]:
Y=pd.DataFrame(df['SEMAFORO'])

In [11]:
print('Conteo de nulos en las columnas:')
print(df.isnull().sum(axis = 0))

Conteo de nulos en las columnas:
CLAVE                   0
SITIO                   0
ORGANISMO_DE_CUENCA     0
ESTADO                  0
MUNICIPIO               0
ACUIFERO                0
SUBTIPO                 0
LONGITUD                0
LATITUD                 0
PERIODO                 0
ALC_mg/L                4
CALIDAD_ALC             4
CONDUCT_mS/cm           6
CALIDAD_CONDUC          6
SDT_M_mg/L              2
CALIDAD_SDT_ra          2
CALIDAD_SDT_salin       2
FLUORUROS_mg/L          0
CALIDAD_FLUO            0
DUR_mg/L                1
CALIDAD_DUR             1
COLI_FEC_NMP/100_mL     0
CALIDAD_COLI_FEC        0
N_NO3_mg/L              1
CALIDAD_N_NO3           1
AS_TOT_mg/L             0
CALIDAD_AS              0
CD_TOT_mg/L             0
CALIDAD_CD              0
CR_TOT_mg/L             0
CALIDAD_CR              0
HG_TOT_mg/L             0
CALIDAD_HG              0
PB_TOT_mg/L             0
CALIDAD_PB              0
MN_TOT_mg/L             0
CALIDAD_MN              0
FE_TOT_mg/L             0
CALIDAD_FE              0
SEMAFORO                0
CUMPLE_CON_ALC          0
CUMPLE_CON_COND         0
CUMPLE_CON_SDT_ra       0
CUMPLE_CON_SDT_salin    0
CUMPLE_CON_FLUO         0
CUMPLE_CON_DUR          0
CUMPLE_CON_CF           0
CUMPLE_CON_NO3          0
CUMPLE_CON_AS           0
CUMPLE_CON_CD           0
CUMPLE_CON_CR           0
CUMPLE_CON_HG           0
CUMPLE_CON_PB           0
CUMPLE_CON_MN           0
CUMPLE_CON_FE           0
dtype: int64

In [16]:
# Valores faltantes en:"ALC_mg/L", "CALIDAD_ALC", "CONDUCT_mS/cm", "CALIDAD_CONDUC", "SDT_M_mg/L", "CALIDAD_SDT_ra", "CALIDAD_SDT_salin", 
#"DUR_mg/L", "CALIDAD_DUR", "N_NO3_mg/L", "CALIDAD_N_NO3"

# Se observarfon nulos en varias las variables, enfocandonos en las de tipo objeto (string) de calidad estan directamente relacionadas al valor absoluto 
#del valor recolectado por lo que solo se considera necesario transformar a float o int la variable "SUBTIPO", no obstante, esta variable se observa altamente
# desbalanceada:1044 valores son POZO y solo 25 otro tipo de variables. por lo que no se transformará

# A continuación imputamos los valores de las variable numéricas con datos faltantes en el set de datos

columnasval = ['ALC_mg/L','CONDUCT_mS/cm','SDT_M_mg/L','FLUORUROS_mg/L','DUR_mg/L','COLI_FEC_NMP/100_mL',
                      'N_NO3_mg/L','AS_TOT_mg/L','CD_TOT_mg/L','CR_TOT_mg/L','HG_TOT_mg/L','PB_TOT_mg/L','MN_TOT_mg/L','FE_TOT_mg/L']

for name in columnasval:
  promedio = df[name].mean() 
  df[name]= df[name].replace(np.nan, promedio)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068 entries, 0 to 1067
Data columns (total 55 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLAVE                 1068 non-null   object
 1   SITIO                 1068 non-null   object
 2   ORGANISMO_DE_CUENCA   1068 non-null   object
 3   ESTADO                1068 non-null   object
 4   MUNICIPIO             1068 non-null   object
 5   ACUIFERO              1068 non-null   object
 6   SUBTIPO               1068 non-null   object
 7   LONGITUD              1068 non-null   float64
 8   LATITUD               1068 non-null   float64
 9   PERIODO               1068 non-null   int64
 10  ALC_mg/L              1068 non-null   float64
 11  CALIDAD_ALC           1064 non-null   object
 12  CONDUCT_mS/cm         1068 non-null   float64
 13  CALIDAD_CONDUC        1062 non-null   object
 14  SDT_M_mg/L            1068 non-null   float64
 15  CALIDAD_SDT_ra        1066 non-null   object
 16  CALIDAD_SDT_salin     1066 non-null   object
 17  FLUORUROS_mg/L        1068 non-null   float64
 18  CALIDAD_FLUO          1068 non-null   object
 19  DUR_mg/L              1068 non-null   float64
 20  CALIDAD_DUR           1067 non-null   object
 21  COLI_FEC_NMP/100_mL   1068 non-null   float64
 22  CALIDAD_COLI_FEC      1068 non-null   object
 23  N_NO3_mg/L            1068 non-null   float64
 24  CALIDAD_N_NO3         1067 non-null   object
 25  AS_TOT_mg/L           1068 non-null   float64
 26  CALIDAD_AS            1068 non-null   object
 27  CD_TOT_mg/L           1068 non-null   float64
 28  CALIDAD_CD            1068 non-null   object
 29  CR_TOT_mg/L           1068 non-null   float64
 30  CALIDAD_CR            1068 non-null   object
 31  HG_TOT_mg/L           1068 non-null   float64
 32  CALIDAD_HG            1068 non-null   object
 33  PB_TOT_mg/L           1068 non-null   float64
 34  CALIDAD_PB            1068 non-null   object
 35  MN_TOT_mg/L           1068 non-null   float64
 36  CALIDAD_MN            1068 non-null   object
 37  FE_TOT_mg/L           1068 non-null   float64
 38  CALIDAD_FE            1068 non-null   object
 39  SEMAFORO              1068 non-null   object
 40  CUMPLE_CON_ALC        1068 non-null   object
 41  CUMPLE_CON_COND       1068 non-null   object
 42  CUMPLE_CON_SDT_ra     1068 non-null   object
 43  CUMPLE_CON_SDT_salin  1068 non-null   object
 44  CUMPLE_CON_FLUO       1068 non-null   object
 45  CUMPLE_CON_DUR        1068 non-null   object
 46  CUMPLE_CON_CF         1068 non-null   object
 47  CUMPLE_CON_NO3        1068 non-null   object
 48  CUMPLE_CON_AS         1068 non-null   object
 49  CUMPLE_CON_CD         1068 non-null   object
 50  CUMPLE_CON_CR         1068 non-null   object
 51  CUMPLE_CON_HG         1068 non-null   object
 52  CUMPLE_CON_PB         1068 non-null   object
 53  CUMPLE_CON_MN         1068 non-null   object
 54  CUMPLE_CON_FE         1068 non-null   object
dtypes: float64(16), int64(1), object(38)
memory usage: 459.0+ KB

In [21]:
df1=pd.DataFrame(df['LATITUD','LONGITUD','ALC_mg/L','CONDUCT_mS/cm','SDT_M_mg/L','FLUORUROS_mg/L','DUR_mg/L','COLI_FEC_NMP/100_mL',
                    'N_NO3_mg/L','AS_TOT_mg/L','CD_TOT_mg/L','CR_TOT_mg/L','HG_TOT_mg/L','PB_TOT_mg/L','MN_TOT_mg/L','FE_TOT_mg/L'])

KeyError: ignored